.cards{
  background-color: var(--cinza-escuro);
  width: 20em;
  height: 7em;
  border-radius: 10px;
}

.titulo{
    color: var(--branco);
    height: 2em;
    font-size: 13px;
}

.verde{
    color: var(--verde);
}

.vermelho{
    color: var(--vermelho);
}

.branco{
    color: var(--branco);
}

.estrutura_card{
    background-color: var(--cinza-claro);
    border-radius: 8px;
    border: solid 1px var(--cinza-linha);
}

.input {
  height: 2.5em;
  width: 100%;
  padding: 2px 5px;     
  background-color: var(--cinza-escuro);
  border: 1px solid var(--cinza-linha);
  border-radius: 8px;
  color: var(--branco);
  outline: none;        
  box-shadow: none;
}

.input:focus {
  box-shadow: none;
  outline: none;
}
/* PAREI AQUI */
#botao{
    height: 2em;
    border-radius: 8px;
    border: none;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


.tag_tipo{
    padding: 0.5em 1em;
    border-radius: 15px;
    font-size: 10px;
    font-weight: bold;
}

.tag_entrada{
    background-color: #7ebd9f;
    color: #165236;
}   

.tag_saida{
    background-color: #db949b;
    color: #9e1b28;
}

.lancamento-item{
    border-bottom: 1px solid #666666;
    padding: 1em;
}

.lancamento-item:last-child{
    border-bottom: none;
}

.categoria-nome {
  width: 150px;
  font-weight: 500;
  color: #ffffff;
  flex-shrink: 0;
}

.barra-container {
  flex: 1;
  height: 3px;
  background-color: #222222;
}

.barra-progresso {
  height: 3px;
  background-color: #ffffff;
  border-radius: 2px;
}

.categoria-valor {
  width: 70px;
  text-align: right;
  color: #ffffff;
  flex-shrink: 0;
}